(
    name: Some("missing"),
    id: 0,
    tiles: {
        0: "./tiles/empty.ron",
        1: "./tiles/empty.ron",
        2: "./tiles/empty.ron",
        3: "./tiles/empty.ron",
        4: "./tiles/empty.ron",
        5: "./tiles/empty.ron",
        6: "./tiles/empty.ron",
        7: "./tiles/empty.ron",
        8: "./tiles/empty.ron",
        9: "./tiles/empty.ron",

        10: "./tiles/empty.ron",
        11: "./tiles/empty.ron",
        12: "./tiles/empty.ron",
        13: "./tiles/empty.ron",
        14: "./tiles/empty.ron",
        15: "./tiles/empty.ron",
        16: "./tiles/empty.ron",
        17: "./tiles/empty.ron",
        18: "./tiles/empty.ron",
        19: "./tiles/empty.ron",

        20: "./tiles/empty.ron",
        21: "./tiles/empty.ron",
        22: "./tiles/empty.ron",
        23: "./tiles/empty.ron",
        24: "./tiles/empty.ron",
        25: "./tiles/empty.ron",
        26: "./tiles/empty.ron",
        27: "./tiles/empty.ron",
        28: "./tiles/empty.ron",
        29: "./tiles/empty.ron",

        30: "./tiles/empty.ron",
        31: "./tiles/empty.ron",
        32: "./tiles/empty.ron",
        33: "./tiles/empty.ron",
        34: "./tiles/empty.ron",
        35: "./tiles/empty.ron",
        36: "./tiles/empty.ron",
        37: "./tiles/empty.ron",
        38: "./tiles/empty.ron",
        39: "./tiles/empty.ron",

        40: "./tiles/empty.ron",
        41: "./tiles/empty.ron",
        42: "./tiles/empty.ron",
        43: "./tiles/empty.ron",
        44: "./tiles/empty.ron",
        45: "./tiles/empty.ron",
        46: "./tiles/empty.ron",
        47: "./tiles/empty.ron",
        48: "./tiles/empty.ron",
        49: "./tiles/empty.ron",
    }
)