(
    name: Some("tiny_galaxy_tg_space"),
    id: 5,
    tiles: {
        0: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_a1.ron",
        1: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_a2.ron",
        2: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_a3.ron",
        3: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_a4.ron",
        4: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_b1.ron",
        5: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_b2.ron",
        6: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_b3.ron",
        7: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_b4.ron",
        8: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_c1.ron",
        9: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_c2.ron",
        10: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_c3.ron",
        11: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_asteroid_c4.ron",
        12: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_moon_a.ron",
        13: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_moon_b.ron",
        14: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_moon_c.ron",
        15: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_moon_d.ron",
        16: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_moon_e.ron",
        17: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_moon_f.ron",
        18: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_a.ron",
        19: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_b.ron",
        20: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_c.ron",
        21: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_d.ron",
        22: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_e.ron",
        23: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_f.ron",
        24: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_g.ron",
        25: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_h.ron",
        26: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_i.ron",
        27: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_j.ron",
        28: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_k.ron",
        29: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_planet_l.ron",
        30: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_ship_alien_d.ron",
        31: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_ship_alien_l.ron",
        32: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_ship_alien_r.ron",
        33: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_ship_alien_u.ron",
        34: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_ship_human_d.ron",
        35: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_ship_human_l.ron",
        36: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_ship_human_r.ron",
        37: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_ship_human_u.ron",
        38: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_star_a1.ron",
        39: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_star_a2.ron",
        40: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_star_b1.ron",
        41: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_star_b2.ron",
        42: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_star_dim2.ron",
        43: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_star_twinkle1.ron",
        44: "../oryx_tiny_galaxy/tg_sliced/tg_space/tg_space_star_twinkle2.ron",
        45: "../oryx_tiny_galaxy/tg_sliced/tg_space/tiny_galaxy_space_07.ron",
        46: "../oryx_tiny_galaxy/tg_sliced/tg_space/tiny_galaxy_space_32.ron",
        47: "../oryx_tiny_galaxy/tg_sliced/tg_space/tiny_galaxy_space_35.ron",
    },
)