(
    name: Some("tiny_galaxy_tg_portraits"),
    id: 4,
    tiles: {
        0: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_1f.ron",
        1: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_1m.ron",
        2: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_2f.ron",
        3: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_2m.ron",
        4: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_3f.ron",
        5: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_3m.ron",
        6: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_4f.ron",
        7: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_4m.ron",
        8: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_5f.ron",
        9: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_alien_5m.ron",
        10: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_1f.ron",
        11: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_1m.ron",
        12: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_2f.ron",
        13: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_2m.ron",
        14: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_3f.ron",
        15: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_3m.ron",
        16: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_4f.ron",
        17: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_4m.ron",
        18: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_5f.ron",
        19: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_android_5m.ron",
        20: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_1f.ron",
        21: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_1m.ron",
        22: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_2f.ron",
        23: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_2m.ron",
        24: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_3f.ron",
        25: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_3m.ron",
        26: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_4f.ron",
        27: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_4m.ron",
        28: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_5f.ron",
        29: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_chalpain_5m.ron",
        30: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_1f.ron",
        31: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_1m.ron",
        32: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_2f.ron",
        33: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_2m.ron",
        34: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_3f.ron",
        35: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_3m.ron",
        36: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_4f.ron",
        37: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_4m.ron",
        38: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_5f.ron",
        39: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_cyborg_5m.ron",
        40: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_1f.ron",
        41: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_1m.ron",
        42: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_2f.ron",
        43: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_2m.ron",
        44: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_3f.ron",
        45: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_3m.ron",
        46: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_4f.ron",
        47: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_4m.ron",
        48: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_5f.ron",
        49: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_marine_5m.ron",
        50: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_1f.ron",
        51: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_1m.ron",
        52: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_2f.ron",
        53: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_2m.ron",
        54: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_3f.ron",
        55: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_3m.ron",
        56: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_4f.ron",
        57: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_4m.ron",
        58: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_5f.ron",
        59: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_officer_5m.ron",
        60: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_1f.ron",
        61: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_1m.ron",
        62: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_2f.ron",
        63: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_2m.ron",
        64: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_3f.ron",
        65: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_3m.ron",
        66: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_4f.ron",
        67: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_4m.ron",
        68: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_5f.ron",
        69: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_pirate_5m.ron",
        70: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_1f.ron",
        71: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_1m.ron",
        72: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_2f.ron",
        73: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_2m.ron",
        74: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_3f.ron",
        75: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_3m.ron",
        76: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_4f.ron",
        77: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_4m.ron",
        78: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_5f.ron",
        79: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_scientist_5m.ron",
        80: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_1f.ron",
        81: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_1m.ron",
        82: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_2f.ron",
        83: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_2m.ron",
        84: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_3f.ron",
        85: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_3m.ron",
        86: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_4f.ron",
        87: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_4m.ron",
        88: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_5f.ron",
        89: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_spy_5m.ron",
        90: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_1f.ron",
        91: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_1m.ron",
        92: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_2f.ron",
        93: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_2m.ron",
        94: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_3f.ron",
        95: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_3m.ron",
        96: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_4f.ron",
        97: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_4m.ron",
        98: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_5f.ron",
        99: "../oryx_tiny_galaxy/tg_sliced/tg_portraits/tg_portrait_trader_5m.ron",
    },
)