(
    name: Some("tiny_galaxy_tg_monsters"),
    id: 3,
    tiles: {
        0: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_elder_d1.ron",
        1: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_elder_d2.ron",
        2: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_elder_l1.ron",
        3: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_elder_l2.ron",
        4: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_elder_r1.ron",
        5: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_elder_r2.ron",
        6: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_elder_u1.ron",
        7: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_elder_u2.ron",
        8: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_psion_d1.ron",
        9: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_psion_d2.ron",
        10: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_psion_l1.ron",
        11: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_psion_l2.ron",
        12: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_psion_r1.ron",
        13: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_psion_r2.ron",
        14: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_psion_u1.ron",
        15: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_psion_u2.ron",
        16: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_soldier_d1.ron",
        17: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_soldier_d2.ron",
        18: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_soldier_l1.ron",
        19: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_soldier_l2.ron",
        20: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_soldier_r1.ron",
        21: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_soldier_r2.ron",
        22: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_soldier_u1.ron",
        23: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_alien_soldier_u2.ron",
        24: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_astronaut_d1.ron",
        25: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_astronaut_d2.ron",
        26: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_astronaut_l1.ron",
        27: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_astronaut_l2.ron",
        28: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_astronaut_r1.ron",
        29: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_astronaut_r2.ron",
        30: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_astronaut_u1.ron",
        31: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_astronaut_u2.ron",
        32: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_beast_d1.ron",
        33: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_beast_d2.ron",
        34: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_beast_l1.ron",
        35: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_beast_l2.ron",
        36: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_beast_r1.ron",
        37: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_beast_r2.ron",
        38: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_beast_u1.ron",
        39: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_beast_u2.ron",
        40: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_bug_d1.ron",
        41: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_bug_d2.ron",
        42: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_bug_l1.ron",
        43: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_bug_l2.ron",
        44: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_bug_r1.ron",
        45: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_bug_r2.ron",
        46: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_bug_u1.ron",
        47: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_bug_u2.ron",
        48: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_celestial_d1.ron",
        49: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_celestial_d2.ron",
        50: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_celestial_l1.ron",
        51: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_celestial_l2.ron",
        52: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_celestial_r1.ron",
        53: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_celestial_r2.ron",
        54: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_celestial_u1.ron",
        55: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_celestial_u2.ron",
        56: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_f_d1.ron",
        57: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_f_d2.ron",
        58: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_f_l1.ron",
        59: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_f_l2.ron",
        60: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_f_r1.ron",
        61: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_f_r2.ron",
        62: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_f_u1.ron",
        63: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_f_u2.ron",
        64: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_m_d1.ron",
        65: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_m_d2.ron",
        66: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_m_l1.ron",
        67: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_m_l2.ron",
        68: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_m_r1.ron",
        69: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_m_r2.ron",
        70: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_m_u1.ron",
        71: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_civilian_m_u2.ron",
        72: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_d1.ron",
        73: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_d2.ron",
        74: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_l1.ron",
        75: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_l2.ron",
        76: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_queen_d1.ron",
        77: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_queen_d2.ron",
        78: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_queen_l1.ron",
        79: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_queen_l2.ron",
        80: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_queen_r1.ron",
        81: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_queen_r2.ron",
        82: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_queen_u1.ron",
        83: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_queen_u2.ron",
        84: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_r1.ron",
        85: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_r2.ron",
        86: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_u1.ron",
        87: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_crawler_u2.ron",
        88: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_demon_d1.ron",
        89: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_demon_d2.ron",
        90: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_demon_l1.ron",
        91: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_demon_l2.ron",
        92: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_demon_r1.ron",
        93: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_demon_r2.ron",
        94: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_demon_u1.ron",
        95: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_demon_u2.ron",
        96: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_drone_d1.ron",
        97: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_drone_d2.ron",
        98: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_drone_l1.ron",
        99: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_drone_l2.ron",
        100: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_drone_r1.ron",
        101: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_drone_r2.ron",
        102: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_drone_u1.ron",
        103: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_drone_u2.ron",
        104: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flamethrower_d1.ron",
        105: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flamethrower_d2.ron",
        106: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flamethrower_l1.ron",
        107: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flamethrower_l2.ron",
        108: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flamethrower_r1.ron",
        109: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flamethrower_r2.ron",
        110: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flamethrower_u1.ron",
        111: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flamethrower_u2.ron",
        112: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flies_d1.ron",
        113: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flies_d2.ron",
        114: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flies_l1.ron",
        115: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flies_l2.ron",
        116: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flies_r1.ron",
        117: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flies_r2.ron",
        118: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flies_u1.ron",
        119: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_flies_u2.ron",
        120: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_jelly_d1.ron",
        121: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_jelly_d2.ron",
        122: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_jelly_l1.ron",
        123: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_jelly_l2.ron",
        124: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_jelly_r1.ron",
        125: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_jelly_r2.ron",
        126: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_jelly_u1.ron",
        127: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_jelly_u2.ron",
        128: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_larvae_d1.ron",
        129: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_larvae_d2.ron",
        130: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_larvae_l1.ron",
        131: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_larvae_l2.ron",
        132: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_larvae_r1.ron",
        133: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_larvae_r2.ron",
        134: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_larvae_u1.ron",
        135: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_larvae_u2.ron",
        136: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_lord_d1.ron",
        137: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_lord_d2.ron",
        138: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_lord_l1.ron",
        139: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_lord_l2.ron",
        140: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_lord_r1.ron",
        141: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_lord_r2.ron",
        142: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_lord_u1.ron",
        143: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_lord_u2.ron",
        144: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_f_d1.ron",
        145: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_f_d2.ron",
        146: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_f_l1.ron",
        147: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_f_l2.ron",
        148: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_f_r1.ron",
        149: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_f_r2.ron",
        150: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_f_u1.ron",
        151: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_f_u2.ron",
        152: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_m_d1.ron",
        153: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_m_d2.ron",
        154: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_m_l1.ron",
        155: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_m_l2.ron",
        156: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_m_r1.ron",
        157: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_m_r2.ron",
        158: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_m_u1.ron",
        159: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_marine_m_u2.ron",
        160: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_mutant_d1.ron",
        161: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_mutant_d2.ron",
        162: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_mutant_l1.ron",
        163: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_mutant_l2.ron",
        164: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_mutant_r1.ron",
        165: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_mutant_r2.ron",
        166: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_mutant_u1.ron",
        167: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_mutant_u2.ron",
        168: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_nude_d1.ron",
        169: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_nude_d2.ron",
        170: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_nude_l1.ron",
        171: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_nude_l2.ron",
        172: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_nude_r1.ron",
        173: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_nude_r2.ron",
        174: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_nude_u1.ron",
        175: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_nude_u2.ron",
        176: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_d1.ron",
        177: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_d2.ron",
        178: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_l1.ron",
        179: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_l2.ron",
        180: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_pack_d1.ron",
        181: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_pack_d2.ron",
        182: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_pack_l1.ron",
        183: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_pack_l2.ron",
        184: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_pack_r1.ron",
        185: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_pack_r2.ron",
        186: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_pack_u1.ron",
        187: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_pack_u2.ron",
        188: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_r1.ron",
        189: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_r2.ron",
        190: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_u1.ron",
        191: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_officer_u2.ron",
        192: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_pig_d1.ron",
        193: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_pig_d2.ron",
        194: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_pig_l1.ron",
        195: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_pig_l2.ron",
        196: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_pig_r1.ron",
        197: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_pig_r2.ron",
        198: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_pig_u1.ron",
        199: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_pig_u2.ron",
        200: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_rat_d1.ron",
        201: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_rat_d2.ron",
        202: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_rat_l1.ron",
        203: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_rat_l2.ron",
        204: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_rat_r1.ron",
        205: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_rat_r2.ron",
        206: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_rat_u1.ron",
        207: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_rat_u2.ron",
        208: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_robot_d1.ron",
        209: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_robot_d2.ron",
        210: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_robot_l1.ron",
        211: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_robot_l2.ron",
        212: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_robot_r1.ron",
        213: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_robot_r2.ron",
        214: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_robot_u1.ron",
        215: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_robot_u2.ron",
        216: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_f_d1.ron",
        217: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_f_d2.ron",
        218: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_f_l1.ron",
        219: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_f_l2.ron",
        220: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_f_r1.ron",
        221: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_f_r2.ron",
        222: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_f_u1.ron",
        223: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_f_u2.ron",
        224: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_m_d1.ron",
        225: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_m_d2.ron",
        226: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_m_l1.ron",
        227: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_m_l2.ron",
        228: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_m_r1.ron",
        229: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_m_r2.ron",
        230: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_m_u1.ron",
        231: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_scientist_m_u2.ron",
        232: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_sentry_d1.ron",
        233: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_sentry_d2.ron",
        234: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_sentry_l1.ron",
        235: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_sentry_l2.ron",
        236: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_sentry_r1.ron",
        237: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_sentry_r2.ron",
        238: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_sentry_u1.ron",
        239: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_sentry_u2.ron",
        240: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_slime_d1.ron",
        241: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_slime_d2.ron",
        242: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_slime_l1.ron",
        243: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_slime_l2.ron",
        244: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_slime_r1.ron",
        245: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_slime_r2.ron",
        246: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_slime_u1.ron",
        247: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_slime_u2.ron",
        248: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_stalker_d1.ron",
        249: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_stalker_d2.ron",
        250: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_stalker_l1.ron",
        251: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_stalker_l2.ron",
        252: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_stalker_r1.ron",
        253: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_stalker_r2.ron",
        254: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_stalker_u1.ron",
        255: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_stalker_u2.ron",
        256: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_gun_d1.ron",
        257: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_gun_d2.ron",
        258: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_gun_l1.ron",
        259: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_gun_l2.ron",
        260: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_gun_r1.ron",
        261: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_gun_r2.ron",
        262: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_gun_u1.ron",
        263: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_gun_u2.ron",
        264: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_saber_d1.ron",
        265: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_saber_d2.ron",
        266: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_saber_l1.ron",
        267: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_saber_l2.ron",
        268: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_saber_r1.ron",
        269: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_saber_r2.ron",
        270: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_saber_u1.ron",
        271: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_vandal_saber_u2.ron",
        272: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_void_d1.ron",
        273: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_void_d2.ron",
        274: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_void_l1.ron",
        275: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_void_l2.ron",
        276: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_void_r1.ron",
        277: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_void_r2.ron",
        278: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_void_u1.ron",
        279: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_void_u2.ron",
        280: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_zombie_d1.ron",
        281: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_zombie_d2.ron",
        282: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_zombie_l1.ron",
        283: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_zombie_l2.ron",
        284: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_zombie_r1.ron",
        285: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_zombie_r2.ron",
        286: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_zombie_u1.ron",
        287: "../oryx_tiny_galaxy/tg_sliced/tg_monsters/tg_monsters_zombie_u2.ron",
    },
)