(
    name: Some("tiny_galaxy_tg_fx"),
    id: 0,
    tiles: {
        0: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidball.ron",
        1: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidball_e.ron",
        2: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidball_n.ron",
        3: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidball_ne.ron",
        4: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidball_nw.ron",
        5: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidball_s.ron",
        6: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidball_se.ron",
        7: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidball_sw.ron",
        8: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidball_w.ron",
        9: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidburn_1.ron",
        10: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidburn_2.ron",
        11: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidimpact_1.ron",
        12: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidimpact_2.ron",
        13: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidimpact_3.ron",
        14: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidspark_1.ron",
        15: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_acidspark_2.ron",
        16: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bash_1.ron",
        17: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bash_2.ron",
        18: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bash_3.ron",
        19: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bubble_1.ron",
        20: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bubble_2.ron",
        21: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bubble_3.ron",
        22: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bullet_1.ron",
        23: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bullet_2.ron",
        24: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bullet_3.ron",
        25: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bullet_4.ron",
        26: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bullet_5.ron",
        27: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bullet_6.ron",
        28: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bullet_7.ron",
        29: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_bullet_8.ron",
        30: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_cut_1.ron",
        31: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_cut_2.ron",
        32: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_cut_3.ron",
        33: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_drip_1.ron",
        34: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_drip_2.ron",
        35: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_drip_3.ron",
        36: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_exclaim_1.ron",
        37: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_exclaim_2.ron",
        38: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireball.ron",
        39: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireball_e.ron",
        40: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireball_n.ron",
        41: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireball_ne.ron",
        42: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireball_nw.ron",
        43: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireball_s.ron",
        44: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireball_se.ron",
        45: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireball_sw.ron",
        46: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireball_w.ron",
        47: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireburn_1.ron",
        48: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireburn_2.ron",
        49: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireimpact_1.ron",
        50: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireimpact_2.ron",
        51: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_fireimpact_3.ron",
        52: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_firespark_1.ron",
        53: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_firespark_2.ron",
        54: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceball.ron",
        55: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceball_e.ron",
        56: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceball_n.ron",
        57: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceball_ne.ron",
        58: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceball_nw.ron",
        59: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceball_s.ron",
        60: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceball_se.ron",
        61: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceball_sw.ron",
        62: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceball_w.ron",
        63: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceburn_1.ron",
        64: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceburn_2.ron",
        65: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceimpact_1.ron",
        66: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceimpact_2.ron",
        67: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_iceimpact_3.ron",
        68: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_icespark_1.ron",
        69: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_icespark_2.ron",
        70: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_lightning_1.ron",
        71: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_lightning_2.ron",
        72: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_pierce_1.ron",
        73: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_pierce_2.ron",
        74: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_pierce_3.ron",
        75: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_poison_1.ron",
        76: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_poison_2.ron",
        77: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_question_1.ron",
        78: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_question_2.ron",
        79: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_rain_1.ron",
        80: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_rain_2.ron",
        81: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_slash2_1.ron",
        82: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_slash2_2.ron",
        83: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_slash2_3.ron",
        84: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_slash_1.ron",
        85: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_slash_2.ron",
        86: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_slash_3.ron",
        87: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_sleep_1.ron",
        88: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_sleep_2.ron",
        89: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_smoke_1.ron",
        90: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_smoke_2.ron",
        91: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_sparkle_1.ron",
        92: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_sparkle_2.ron",
        93: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_sparkle_3.ron",
        94: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_swing_1.ron",
        95: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_swing_2.ron",
        96: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_swing_3.ron",
        97: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidball.ron",
        98: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidball_e.ron",
        99: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidball_n.ron",
        100: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidball_ne.ron",
        101: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidball_nw.ron",
        102: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidball_s.ron",
        103: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidball_se.ron",
        104: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidball_sw.ron",
        105: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidball_w.ron",
        106: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidburn_1.ron",
        107: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidburn_2.ron",
        108: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidimpact_1.ron",
        109: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidimpact_2.ron",
        110: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidimpact_3.ron",
        111: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidspark_1.ron",
        112: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_voidspark_2.ron",
        113: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_zap_1.ron",
        114: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_zap_2.ron",
        115: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_zap_3.ron",
        116: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_zap_4.ron",
        117: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_zap_5.ron",
        118: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_zap_6.ron",
        119: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_zap_7.ron",
        120: "../oryx_tiny_galaxy/tg_sliced/tg_fx/tg_fx_zap_8.ron",
    },
)