(
    name: Some("tiny_galaxy_tg_interface"),
    id: 1,
    tiles: {
        0: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_h_metal_1.ron",
        1: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_h_metal_2.ron",
        2: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_h_metal_3.ron",
        3: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_h_metal_tab.ron",
        4: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_h_screen_1.ron",
        5: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_h_screen_2.ron",
        6: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_h_screen_3.ron",
        7: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_h_screen_tab.ron",
        8: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_v_metal_1.ron",
        9: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_v_metal_2.ron",
        10: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_v_metal_3.ron",
        11: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_v_screen_1.ron",
        12: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_v_screen_2.ron",
        13: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bar_v_screen_3.ron",
        14: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_1.ron",
        15: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_2.ron",
        16: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_3.ron",
        17: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_4.ron",
        18: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_5.ron",
        19: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_6.ron",
        20: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_7.ron",
        21: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_8.ron",
        22: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_9.ron",
        23: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_arrow_l1.ron",
        24: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_arrow_l2.ron",
        25: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_arrow_m1.ron",
        26: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_arrow_m2.ron",
        27: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_arrow_r1.ron",
        28: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_bubble_arrow_r2.ron",
        29: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_button_metal_1.ron",
        30: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_button_metal_2.ron",
        31: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_button_metal_press_1.ron",
        32: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_button_metal_press_2.ron",
        33: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_button_screen_1.ron",
        34: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_button_screen_2.ron",
        35: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_button_screen_press_2.ron",
        36: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_button_scroll_press_1.ron",
        37: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_check_metal.ron",
        38: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_check_metal_checked.ron",
        39: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_check_screen.ron",
        40: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_check_screen_checked.ron",
        41: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_close_metal.ron",
        42: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_close_metal_press.ron",
        43: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_close_screen.ron",
        44: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_close_screen_press.ron",
        45: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_crystal_empty.ron",
        46: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_crystal_full.ron",
        47: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_arrow_1.ron",
        48: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_arrow_2.ron",
        49: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_crosshair2_1.ron",
        50: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_crosshair2_2.ron",
        51: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_crosshair_1.ron",
        52: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_crosshair_2.ron",
        53: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_finger_1.ron",
        54: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_finger_2.ron",
        55: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_grab_1.ron",
        56: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_grab_2.ron",
        57: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_hand_1.ron",
        58: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_hand_2.ron",
        59: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_magnify_1.ron",
        60: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_magnify_2.ron",
        61: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_pointer_1.ron",
        62: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_pointer_2.ron",
        63: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_redo_1.ron",
        64: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_redo_2.ron",
        65: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_reduce_1.ron",
        66: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_reduce_2.ron",
        67: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_target_1.ron",
        68: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_target_2.ron",
        69: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_triangle_1.ron",
        70: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_triangle_2.ron",
        71: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_undo_1.ron",
        72: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_undo_2.ron",
        73: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_watch_1.ron",
        74: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_cursor_watch_2.ron",
        75: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_heart_empty.ron",
        76: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_heart_full.ron",
        77: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_hp_empty_1.ron",
        78: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_hp_empty_2.ron",
        79: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_hp_empty_3.ron",
        80: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_hp_full_1.ron",
        81: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_hp_full_2.ron",
        82: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_hp_full_3.ron",
        83: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_mp_empty_1.ron",
        84: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_mp_empty_2.ron",
        85: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_mp_empty_3.ron",
        86: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_mp_full_1.ron",
        87: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_mp_full_2.ron",
        88: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_mp_full_3.ron",
        89: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_alert.ron",
        90: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_alert_press.ron",
        91: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_attack.ron",
        92: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_attack_press.ron",
        93: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_bag.ron",
        94: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_bag_press.ron",
        95: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_blank.ron",
        96: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_blank_press.ron",
        97: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_cancel.ron",
        98: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_cancel_press.ron",
        99: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_defend.ron",
        100: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_defend_press.ron",
        101: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_equip.ron",
        102: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_equip_press.ron",
        103: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_go.ron",
        104: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_go_press.ron",
        105: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_item.ron",
        106: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_item_press.ron",
        107: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_magic.ron",
        108: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_magic_press.ron",
        109: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_setting.ron",
        110: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_option_setting_press.ron",
        111: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_a_1.ron",
        112: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_a_2.ron",
        113: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_a_3.ron",
        114: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_a_4.ron",
        115: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_a_5.ron",
        116: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_a_6.ron",
        117: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_a_7.ron",
        118: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_a_8.ron",
        119: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_a_9.ron",
        120: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_b_1.ron",
        121: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_b_2.ron",
        122: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_b_3.ron",
        123: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_b_4.ron",
        124: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_b_5.ron",
        125: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_b_6.ron",
        126: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_b_7.ron",
        127: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_b_8.ron",
        128: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_metal_b_9.ron",
        129: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screenl_a_3.ron",
        130: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_a_1.ron",
        131: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_a_2.ron",
        132: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_a_4.ron",
        133: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_a_5.ron",
        134: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_a_6.ron",
        135: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_a_7.ron",
        136: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_a_8.ron",
        137: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_a_9.ron",
        138: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_b_1.ron",
        139: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_b_2.ron",
        140: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_b_3.ron",
        141: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_b_4.ron",
        142: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_b_5.ron",
        143: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_b_6.ron",
        144: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_b_7.ron",
        145: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_b_8.ron",
        146: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_screen_b_9.ron",
        147: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_window_1.ron",
        148: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_window_2.ron",
        149: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_window_3.ron",
        150: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_window_4.ron",
        151: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_window_5.ron",
        152: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_window_6.ron",
        153: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_window_7.ron",
        154: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_window_8.ron",
        155: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_panel_window_9.ron",
        156: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_a1.ron",
        157: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_a2.ron",
        158: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_b1.ron",
        159: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_b2.ron",
        160: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_c1.ron",
        161: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_c2.ron",
        162: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_d1.ron",
        163: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_d2.ron",
        164: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_e1.ron",
        165: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_e2.ron",
        166: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_f1.ron",
        167: "../oryx_tiny_galaxy/tg_sliced/tg_interface/tg_interface_select_f2.ron",
    },
)