(
    name: Some("tiny_galaxy_tg_items"),
    id: 2,
    tiles: {
        0: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_ammo.ron",
        1: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_boots_blue.ron",
        2: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_boots_grey.ron",
        3: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_boots_none.ron",
        4: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_boots_red.ron",
        5: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_chest_blue.ron",
        6: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_chest_grey.ron",
        7: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_chest_none.ron",
        8: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_chest_red.ron",
        9: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_gloves_blue.ron",
        10: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_gloves_grey.ron",
        11: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_gloves_none.ron",
        12: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_gloves_red.ron",
        13: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_helm_blue.ron",
        14: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_helm_grey.ron",
        15: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_helm_none.ron",
        16: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_helm_red.ron",
        17: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_pants_blue.ron",
        18: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_pants_grey.ron",
        19: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_pants_none.ron",
        20: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_armor_pants_red.ron",
        21: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_bandage.ron",
        22: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_bar_blue.ron",
        23: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_bar_blue_open.ron",
        24: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_bar_brown.ron",
        25: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_bar_gold_open.ron",
        26: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_bat.ron",
        27: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_beaker_blue.ron",
        28: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_beaker_green.ron",
        29: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_beaker_red.ron",
        30: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_bit.ron",
        31: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_crystal_blue.ron",
        32: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_crystal_gold.ron",
        33: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_crystal_green.ron",
        34: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_crystal_purple.ron",
        35: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_crystal_red.ron",
        36: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_disk_blue.ron",
        37: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_disk_green.ron",
        38: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_disk_grey.ron",
        39: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_disk_red.ron",
        40: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_flashlight.ron",
        41: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_flask_blue.ron",
        42: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_flask_green.ron",
        43: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_flask_red.ron",
        44: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_fuse.ron",
        45: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_gasmask.ron",
        46: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_grenade.ron",
        47: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_gun_alien_pistol.ron",
        48: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_gun_alien_rifle.ron",
        49: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_gun_blade.ron",
        50: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_gun_pistol.ron",
        51: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_gun_rifle.ron",
        52: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_gun_rocket.ron",
        53: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_gun_shotgun.ron",
        54: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_heart_clear.ron",
        55: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_heart_full.ron",
        56: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_key_gold.ron",
        57: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_key_green.ron",
        58: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_key_red.ron",
        59: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_key_white.ron",
        60: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_liquid_green.ron",
        61: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_liquid_purple.ron",
        62: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_liquid_yellow.ron",
        63: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_medkit_blue.ron",
        64: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_medkit_green.ron",
        65: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_medkit_red.ron",
        66: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_orb_blue.ron",
        67: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_orb_purple.ron",
        68: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_part_alien.ron",
        69: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_part_tech.ron",
        70: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_pass_gold.ron",
        71: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_pass_green.ron",
        72: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_pass_purple.ron",
        73: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_pass_red.ron",
        74: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_pda_A.ron",
        75: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_pda_B.ron",
        76: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_pda_C.ron",
        77: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_pda_D.ron",
        78: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_pizza.ron",
        79: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_riotshield.ron",
        80: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_rope.ron",
        81: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_saber_blue.ron",
        82: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_saber_red.ron",
        83: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_sack.ron",
        84: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_shovel.ron",
        85: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_skull.ron",
        86: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_smoke.ron",
        87: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_syringe_blue.ron",
        88: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_syringe_empty.ron",
        89: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_syringe_red.ron",
        90: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_token_copper.ron",
        91: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_token_gold.ron",
        92: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_token_silver.ron",
        93: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_turkey.ron",
        94: "../oryx_tiny_galaxy/tg_sliced/tg_items/tg_items_walkie.ron",
        95: "../oryx_tiny_galaxy/tg_sliced/tg_items/tiny_galaxy_orb_clear.ron",
    },
)